description "Upstart Job for the App service"

start on (local-filesystems and net-device-up IFACE!=lo)  
stop on shutdown

chdir /opt/apps/<%= @shortname %>

<% @environment.each do |key, val| -%>
env <%= key %>=<%= val %>
<% end -%>

respawn

exec su -c 'npm start' node